/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');
@import url("https://fonts.googleapis.com/css?family=Metal+Mania");

@font-face {
    font-family: "Booter - Zero Zero";
    src: url("Fonts/Booter - Zero Zero.woff") format("woff"),
         url("Fonts/Booter - Zero Zero.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: Raleway;
    color:hite;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100%;
}

/****************HEADER SECTION*********************************/
.header{
    background-color: rgba(0, 0, 0, .2);
    background-image: url("/Img/mens1.webp");
    background-blend-mode:multiply;
    /* background-size: cover; */
    
background-size: contain;
    background-position: center;
    padding-bottom: 30px;
    width: 100%;
    color: white;
    height:600px;
}

.contain{
    text-align: center;
    margin-top: 100px;
}
.header span{
    text-align: center;
    font-size:70px;  
    color: white;
    padding:10px 20px;
    letter-spacing: 10px;
    background-color: rgba(64,64,64, 0.9);
    font-family: 'Lato', sans-serif;

}

.nav{
    text-align:left;
    padding-top: 15px;
    padding-left: 4px;
}
.nav link{
     margin-top:5px; 
}
.nav ul {
    margin: 0px;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    color:white;  
}
.nav li{
    display:inline;
    color: white;
   
}
.nav span{
   
}
.nav a{
    display:inline-block;
    padding:14px 16px;
    text-decoration: none;
    color: white;
}
.nav a:hover{
    background-color: grey;
}






body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.product {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 20px;
    max-width: 300px;
    text-align: center;
}

.product img {
    max-width: 100%;
    height: auto;
}

.price {
    font-weight: bold;
    color: #FF5733;
}
