.header {
    background-color: rgba(0, 0, 0, .2);
    padding-bottom: 0px;   
}

.profile_info {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    background-color: #131921;
    padding: 20px;
    color: white;
}

.info {
    display: flex;
    flex-direction: column;
    letter-spacing: 1px;
    /* min-height: 200px; */
    padding: 20px;
    /* background-color: aqua; */
    /* justify-content: space-between; */
}

.main_span {
    font-weight: 600;
    font-size: 1.5rem;
    
    
    
}

.secondary_span {
    font-size: small;
}

.sign_out {
    border-style: solid;
    border-color: white;
    border-width: 2px;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* background-color: aqua; */
}

