<!DOCTYPE html>

<html>
  <head>
    <title>Ecom</title>

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/Css/index.css" />
    <!-- <link rel="stylesheet" href="/Css/checkout.css" /> -->
    <link rel="stylesheet" href="/Css/user.css">
  </head>
  <body>
    <header class="header">
      <nav class="nav top-nav">
        <div class="left-section">

          <img
          class="header_logo"
          src="http://pngimg.com/uploads/amazon/amazon_PNG11.png"/>
          

          <ul>
            <!-- <li class="link"><a href="">HOME</a></li> -->
            <li class="link"><a href="/Templates/index.html">STORE</a></li>
            <li class="link"><a href="">USER</a></li>
          </ul>
          <div class="search-bar">
            <input type="text" placeholder="Search" />
            <!-- <button type="submit">Search</button> -->
          </div>
        </div>

        <div class="right-section">
          <a href="/Templates/cart.html">
            <img class="cart-icon" src="/Img/cart.png" />
          </a>
        </div>
      </nav>

    </header>

    <div class="body">

        <div class="profile_info">
            <div class="info">
                <span class="main_span">Rishabh Rai</span>
                <span class="secondary_span">Bhilai,IND</span>
            </div>
            <div class="sign_out">Sign Out</div>
        </div>

        <div class="content">

            <div class="left_menu">
                <div class="left_navigator">
                    <div class="list">Profile</div>
                    <div class="list">Orders</div>
                    <div class="list">Address</div>
                    <div class="list">Payment</div>
                    <div class="list">Whishlist</div>
                </div>
            </div>

            <div class="right_menu">

                <div class="order_heading">
                    <span class="main_span" style="font-size: 2rem;">Orders</span>
                <span class="secondary_span" style="font-size: 1rem; margin-left: 5px;">8 Items</span>
                </div>

                <div class="order_box">

                    <!-- order no 1  -->
                    <div class="order_detail">

                        <div class="section">
                            <span class="main_span">Order 41535</span>
                            <span class="secondary_span">View item-></span>
                        </div>

                        <div class="section">shipped on 19/Aug</div>

                        <div class="section">
                            <div class="short_image">
                                <img class="order_img" src="/Img/mens2.webp" alt="Product Image" />
                              </div>
                        </div>
                    </div>


                    <!-- order no 2  -->
                    <div class="order_detail">

                        <div class="section">
                            <span class="main_span">Order 41535</span>
                            <span class="secondary_span">View item-></span>
                        </div>

                        <div class="section">shipped on 19/Aug</div>

                        <div class="section">
                            <div class="short_image">
                                <img class="order_img" src="/Img/mens1.webp" alt="Product Image" />
                              </div>
                        </div>
                    </div>

                    <!-- order no 3  -->
                    <div class="order_detail">

                        <div class="section">
                            <span class="main_span">Order 41535</span>
                            <span class="secondary_span">View item-></span>
                        </div>

                        <div class="section">shipped on 19/Aug</div>

                        <div class="section">
                            <div class="short_image">
                                <img class="order_img" src="/Img/mens3.jpg" alt="Product Image" />
                              </div>
                        </div>
                    </div>


                    
                </div>



                <div class="page_nav">
                    <div class="page_no">1</div>
                    <div class="page_no">2</div>
                    <div class="page_no">3</div>
                    <div class="page_no">4</div>
                </div>
            </div>

        </div>
    </div>

    

    <script
      src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>

    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
